# Server Config
SERVER_HOST=localhost
SERVER_PORT=3001

# Database config
DB_PASSWORD=example_pass
DB_USERNAME=example_name
DB_DIALECT=postgres
DB_NAME=example_db
DB_POOL={"acquire": 30000, "max": 30, "min": 10, "idle": 10000}
DB_HOST=127.0.0.1
DB_PORT=5432

# Redis Configuration
REDIS_PASSWORD=redis_pass
REDIS_USERNAME=redis_name
REDIS_HOST=192.168.18.20
REDIS_PORT=6379
REDIS_DATABASE=0

MONGO_DB_NAME=adameds
MONGO_DB_HOST=192.168.18.20
MONGO_DB_PORT=27017
MONGO_DB_AUTH_SOURCE=mongo_auth
MONGO_DB_USERNAME=mongo_name
MONGO_DB_PASSWORD=mongo_pass


